<h1 mat-dialog-title><b>Transfer Team Member</b></h1>

<div mat-dialog-content>
  <p>Destination Team</p>
  <div fxLayout="column" fxLayoutAlign="end center">
    <app-team-field (selectTeam)="selectTeam($event)">
    </app-team-field>

    <div fxLayout="row" fxLayoutAlign="end center">
      <app-date-field [description]="'Start '" (setDate)=setStartDate($event)>
      </app-date-field>
      <span class="space"></span>
      <app-date-field [description]="'End '" (setDate)=setEndDate($event)>
      </app-date-field>
    </div>
    <button mat-stroked-button (click)="create()" fxFlexAlign="center">
      Transfer
    </button>
  </div>

  <app-view-table [labels]="labels" [data]="dataTable" [dataSource]="dataSource" class="font">
  </app-view-table>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="onNoClick()">Go back</button>
</div>
