<ion-header translucent="true" mode="ios">
  <ion-toolbar>
    <ion-title>Edit my account</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Edit my account</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="width: 100%; height: 350px;">
    <div class="container">
      <img class="img-center" [src]="data.photo">
    </div>
  </div>
  <form (ngSubmit)="saveChanges()">
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="information-circle-outline"></ion-icon> First Name:
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="information-circle-outline"></ion-icon> Last Name:
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.lastname" name="lastname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="transgender-outline"></ion-icon> Gender:
      </ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="data.gender" name="gender">
        <ion-select-option value="{{item.char}}" *ngFor="let item of genders">{{item.description}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="at-outline"></ion-icon> Email:
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.email" name="email" disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="lock-closed-outline"></ion-icon> Password:
      </ion-label>
      <ion-input [type]="passwordType" [(ngModel)]="data.password" name="password" required></ion-input>
      <ion-icon style="margin-top: 5%;" name="eye-off-outline" slot="end" (click)="togglePassword()"
        *ngIf="!passwordShow"></ion-icon>
      <ion-icon style="margin-top: 5%;" name="eye-outline" slot="end" (click)="togglePassword()" *ngIf="passwordShow">
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="phone-portrait-outline"></ion-icon> Phone:
      </ion-label>
      <ion-input type="number" [(ngModel)]="data.phone" name="phone" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="information-circle-outline"></ion-icon> Address:
      </ion-label>
      <ion-input type="text" [(ngModel)]="data.address" name="address" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="flag-outline"></ion-icon> Country:
      </ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="data.id_country" name="id_country">
        <ion-select-option value="{{item.id}}" *ngFor="let item of countries">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-datetime [(ngModel)]="data.birth_date" name="birth_date" display-timezone="utc" presentation="date" required>
      </ion-datetime>
    </ion-item>
    <ion-button color="tertiary" expand="block" type="button" (click)="libreria()">
      <ion-icon name="images-outline" slot="start"></ion-icon>
      Select Image
    </ion-button>
    <ion-button color="dark" expand="block" type="submit" [disabled]="disabledBtn">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Save changes
    </ion-button>
  </form>

</ion-content>