<mat-toolbar class="footer" color="primary">
  <mat-toolbar-row fxLayoutAlign="center center">
    <button mat-icon-button>
      <i data-feather="facebook"></i>
    </button>
    <button mat-icon-button>
      <i data-feather="instagram"></i>
    </button>
    <button mat-icon-button>
      <i data-feather="twitter"></i>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row  fxLayoutAlign="space-evenly center">
    <p class="mat-typography">Soccer Stats © 2022</p>
  </mat-toolbar-row>
</mat-toolbar>
