<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/client/teams"></ion-back-button>
    </ion-buttons>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of news">

    <ion-card-header>
      <ion-card-subtitle>{{item.date | date: 'mediumDate'}}</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-thumbnail slot="start">
        <img [src]="item.photo">
      </ion-thumbnail>
      {{item.description}}
    </ion-card-content>
  </ion-card>

</ion-content>