<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Team">
    <div class="holder">
      <app-team-view></app-team-view>
    </div>
  </mat-tab>

  <mat-tab label="Game">
    <div class="holder">
      <!--app-game-view></app-game-view-->
    </div>
  </mat-tab>

  <mat-tab label="Stadium">
    <div class="holder">
      <!--app-stadium-view></app-stadium-view-->
    </div>
  </mat-tab>

  <mat-tab label="Competition">
    <div class="holder">
      <app-competition-view></app-competition-view>
    </div>
  </mat-tab>

  <mat-tab label="Player">
    <div class="holder">
      <!--app-player-view></app-player-view-->
    </div>
  </mat-tab>

  <mat-tab label="Technical Director">
    <div class="holder">
      <!--app-technical-director-view></app-technical-director-view-->
    </div>
  </mat-tab>
</mat-tab-group>
