<h1 mat-dialog-title><b>Recover Password</b></h1>
<div mat-dialog-content>
      <mat-form-field appearance="outline" class="fullSize">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="emailField" #minuteField="ngModel" />
      </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="onNoClick()">Go back</button>
  <button mat-button [mat-dialog-close]="email" cdkFocusInitial>Send me a new password</button>
</div>
