<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Players">
    <div class="holder">
      <mat-grid-list cols="12" rowHeight="100px">
        <mat-grid-tile colspan="12" rowspan="6">
          <app-players [report1]="true"> </app-players>
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="6">
          <app-players [report2]="true"> </app-players>
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="7">
          <app-players [report3]="true"> </app-players>
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="6">
          <app-players [report12]="true"> </app-players>
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="7">
          <app-players [report13]="true"> </app-players>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
  <mat-tab label="Teams">
    <div class="holder">
      <mat-grid-list cols="12" rowHeight="100px">
        <mat-grid-tile colspan="6" rowspan="7">
          <app-teams [report4]="true"></app-teams>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="7">
          <app-teams  [report5]="true"></app-teams>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="7">
          <app-teams  [report6]="true"></app-teams>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="7">
          <app-teams  [report10]="true"></app-teams>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>
