/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");


html, body { height: 100%;  }
body { margin: 0;}

* {
  font-family: "Quicksand", sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffccbc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cb9b8c;
}
