/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  height: 100%;
  background: #fafafa ;
 }

body {
  margin: 0;
}

* {
  font-family: "Quicksand", sans-serif !important;
}

.icon {
  font-family: "Material Icons" !important;
}

.fullSize{
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-gap {
    border-width: 2px !important;
}

.mat-dialog-container {
  background: #21212150;
  color: #ffebee;
  backdrop-filter: blur(5px);
}

.mat-table {
  background: #fff0;
}

.mat-paginator {
  background: #fff0;
}

.mat-card {
  background: #fafafa;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #ff00;
}

::-webkit-scrollbar-thumb {
  background: #212121;
}

::-webkit-scrollbar-thumb:hover {
  background: #82ada9;
}

::-webkit-scrollbar-corner{
  background: #ff00;
}




