<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{title}}</h3>
    <h6 class="card-subtitle">{{subtitle}}</h6>
    <div class="card-body">

      <div class="table-responsive table-hover" style="display: block">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | uppercase }}</th>
            <section *ngIf="column != 'actions' ">
              <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
            </section>
            <section *ngIf="column == 'actions' ">
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="focus(element['no'])">
                  <mat-icon class="icon">visibility</mat-icon>
                </button>
              </td>
            </section>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator="matPaginator" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </div>
</div>
