.mat-card {
  border-width: thin;
  border-radius: 10px;
  border-color: #212121;
  border-style: solid;
  height: 85%;
}

.mat-card-content {
  overflow: scroll;
  height: 100px;
}

.description {
  margin: 5px;
}

.header-image{
  border-radius: 0;
}
