<mat-tab-group mat-align-tabs="center">
  <mat-tab label="All">
    <div class="content">
      <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <h1>Follow your favorite teams</h1>
      </div>
      <mat-grid-list cols="12" rowHeight="150px" [gutterSize]="'15px'">
        <mat-grid-tile colspan="3" rowspan="1" *ngFor='let team of teams'>
          <app-team-card [team]="team" class="tile" (update)="getTeams()"></app-team-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
  <mat-tab label="Favorite">
    <div class="content">
      <mat-grid-list cols="12" rowHeight="150px" [gutterSize]="'15px'">
        <mat-grid-tile colspan="3" rowspan="1" *ngFor='let team of favoriteTeams'>
          <app-team-card [team]="team" class="tile" [showFollow]="false" ></app-team-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>
