.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.mat-form-field + .mat-form-field, .extra-field {
  margin-left: 8px;
}

.firstSpace{
  margin: 45px;
}

.secondSpace{
  margin: 15px;
}

